<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokemonapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.PokemonApp">
        <!-- Other application configurations -->
    </application>

    <!-- Add this permission for network access -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
